.app-container{
  display: flex;
}

.content{
  width: 100%;
}

.sidebar{
  min-height:550px;
}

.post-card{
  margin: 20px 50px;
}

.hashtag{
  margin: 0px 3px;
}

.reactions{
  margin: 15px 0px 0px 0px;
}

.create-post{
  width: 50%;
  margin-top:5% ;
  margin-left: 6%;
}

.welcome-message{
  margin: 70px 0px;
}

.spinner{
  margin: 20%;
}